html 
    head
        title='Products'
        style(type="text/css").
            .form {
                display: flex;
                flex-direction: column;
                width: 50%;
            }
            table.tabla {
                display: flex;
                flex-direction: row;
                text-align: center;
                border: '1px';
            }
            img.imagen {
                max-width: 20%;
            }
            img.avatar {
                max-width: 5%;
            }
            .bloqueChat {
                display: flex;
                flex-direction: column;
            }
            .input {
                width: 20%
            }
            span {
                display: flex;
            }
            button.btn-out {
                align-self: center;
            }
            button.cart {
                align-self: center;
            }
            p.info {
                font-size: 15px;
            }
        body
            div
                if cart.length > 0
                    h3='Productos en Carrito'
                    table(class='tabla' id='tabla')
                        tr
                            th Nombre Producto
                            th Precio Producto
                            th Unidades en su carrito
                            th Imagen Producto
                        each product in cart
                            tr
                                td=product.name
                                td=product.price
                                td=product.quantity
                                td
                                    img(class='imagen' src=product.thumbnail)
                                td
                                    button(class='cart' onclick='deleteProductFromCart("'+currentCartId+'","'+product.id+'")') Quitar del carrito        
                    button(class='cart' onclick='finishPurchase("'+currentCartId+'", "'+userId+'")') Finalizar Compra
                    p(class='info') *Aguarde un alert de confirmación. Al finalizar, se le enviará un mail con el detalle de su compra*
                else
                    h4='Carrito vacío, comience seleccionando algunos productos'
                    button( class='login-btn' type="submit" onclick="window.location.href='/'") Ir a Home
        script(type='text/javascript' src='../public/js/cart.js')